<div class="container">
    <h3 class="subtitle">Contacto</h3>

    <!-- Mapa -->
    <div class="row mt-5">
        <div class="col-lg-12">
            <app-loading *ngIf="isLoading"></app-loading>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.195637540202!2d-58.69324812370852!3d-34.548601672973966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbc55212cec1b%3A0xc939b575ce5f7c!2sGuido%20y%20Spano%2041%2C%20B1661%20Bella%20Vista%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1741213728011!5m2!1ses-419!2sar"
                width="100%"
                height="300"
                style="border: 0; border-radius: 1rem"
                allowfullscreen=""
                loading="lazy"
                (load)="isLoading = false"
            ></iframe>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Info de contacto -->
        <div class="col-12 col-xl-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="info-box">
                        <div class="item-icon">
                            <i class="bi bi-envelope-open base-color"></i>
                        </div>
                        <div class="info-text">
                            <h5>Correo electrónico</h5>
                            <small>neri.agustin.es&#64;outlook.com</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="info-box">
                        <div class="item-icon">
                            <i class="bi bi-telephone base-color"></i>
                        </div>
                        <div class="info-text">
                            <h5>Teléfono</h5>
                            <small>+54 11 68573664</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="info-box">
                        <div class="item-icon">
                            <i class="bi bi-map base-color"></i>
                        </div>
                        <div class="info-text">
                            <h5>Ubicación</h5>
                            <small>Bella Vista, Buenos Aires, Argentina.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario -->
        <div class="col-12 col-xl-7">
            <div class="contact-box">
                <div class="contact-form">
                    <form
                        id="contactForm"
                        name="contact"
                        method="POST"
                        data-netlify-recaptcha="true"
                        data-netlify="true"
                    >
                        <div class="row">
                            <div class="col-lg-12 form-item">
                                <div class="form-group">
                                    <input
                                        name="name"
                                        id="name"
                                        type="text"
                                        class="form-control"
                                        placeholder="Nombre completo*"
                                        required
                                        [(ngModel)]="name"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12 form-item">
                                <div class="form-group">
                                    <input
                                        name="email"
                                        id="email"
                                        type="email"
                                        class="form-control"
                                        placeholder="Correo electrónico*"
                                        required
                                        [(ngModel)]="from"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12 form-item">
                                <div class="form-group">
                                    <input
                                        name="subject"
                                        id="subject"
                                        type="text"
                                        class="form-control"
                                        placeholder="Asunto*"
                                        required
                                        [(ngModel)]="subject"
                                    />
                                </div>
                            </div>
                            <div class="col-12 form-item">
                                <div class="form-group">
                                    <textarea
                                        name="message"
                                        id="comments"
                                        rows="3"
                                        class="form-control textarea"
                                        placeholder="Tu mensaje..."
                                        [(ngModel)]="text"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 text-left">
                                <div data-netlify-recaptcha="true"></div>
                                <div class="pill-btn mt-4 mb-3">
                                    <button
                                        type="button"
                                        (click)="sendEmail()"
                                        class="primary-button"
                                        id="submit-btn"
                                    >
                                        Enviar mensaje
                                    </button>
                                </div>
                                <div
                                    id="message"
                                    class="toast"
                                    role="alert"
                                    aria-live="assertive"
                                    aria-atomic="true"
                                >
                                    <div class="toast-body d-inline-block"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="row mt-5">
        <div class="col-12 text-center">
            <p class="text-muted mb-0">
                Copyright &copy; {{ currentYear }}. Diseñado por
                <span class="base-color">Neri Espinola</span>
            </p>
        </div>
    </div>
</div>
