<section id="skills" class="section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-content mb-4">
                    <h2 class="base-color"> Mis Skills</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="skill-boxes">
                    <div class="row">
                        <!-- Skill -->
                        <div class="col-lg-6">
                            <div class="skill-box">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>HTML5 / CSS3 / JS</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                </div>
                                <div class="skillbar clearfix " data-percent="100%">
                                    <div class="skillbar-title"><span>C#</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>PL/SQL</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill-box">
                                <div class="skillbar clearfix " data-percent="100%">
                                    <div class="skillbar-title"><span>Angular</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Firebase</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                </div>
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Xamarin</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>