<section id="skills" class="section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-content mb-4">
                    <p class="mb-2">level of knowledge</p>
                    <h2 class="base-color"> My skills</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="skill-boxes">
                    <div class="row">
                        <!-- Skill -->
                        <div class="col-lg-6">
                            <div class="skill-box">
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title"><span>HTML</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar clearfix " data-percent="85%">
                                    <div class="skillbar-title"><span>CSS</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">85%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="80%">
                                    <div class="skillbar-title"><span>PHP</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill-box">
                                <div class="skillbar clearfix " data-percent="85%">
                                    <div class="skillbar-title"><span>angular js</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title"><span>javascript</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="80%">
                                    <div class="skillbar-title"><span>wordpress</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>