<header id="header" class="header fixed-top">
    <nav id="scrollspy" class="navbar navbar-expand-lg header-nav">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bold" href="#hero">soy<span class="base-color">Nerin</span></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#toggle-menu" aria-controls="toggle-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lni-menu size-md"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggle-menu">
                <ul class="navbar-nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#hero">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Acerca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Proyectos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contacto</a>
                    </li>
                </ul>
                <ul class="list-inline socails mt-4  d-lg-none">
                    <li class="list-inline-item"><a href="https://www.facebook.com/iNeriX" target="_blank" rel="noreferrer"><i class="lni lni-facebook-filled"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/soyNerin" target="_blank" rel="noreferrer"><i class="lni lni-twitter-filled"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/soynerin" target="_blank" rel="noreferrer"><i class="lni lni-github-original"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/neri-espinola/" target="_blank" rel="noreferrer"><i class="lni lni-linkedin-original"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>