<div class="container">
    <div class="heading-meta-container">
        <h2 class="heading-title">Portfolio</h2>
        <h6 class="description">Mira algunos de mis trabajos</h6>
    </div>

    <!-- Filtros -->
    <div class="row">
        <ul class="list-inline col-12 portfolio-filter text-center">
            <li class="list-inline-item">
                <a
                    href="javascript:void(0)"
                    [class.active]="activeFilter === '*'"
                    (click)="setFilter('*')"
                    >Todos</a
                >
            </li>
            <li class="list-inline-item">
                <a
                    href="javascript:void(0)"
                    [class.active]="activeFilter === 'webdesign'"
                    (click)="setFilter('webdesign')"
                    >Web</a
                >
            </li>
            <li class="list-inline-item">
                <a
                    href="javascript:void(0)"
                    [class.active]="activeFilter === 'angular'"
                    (click)="setFilter('angular')"
                    >Angular</a
                >
            </li>
        </ul>
    </div>

    <!-- Items -->
    <div class="portfolio-items row g-4">
        <div
            *ngFor="let project of filteredProjects"
            class="col-md-6 col-lg-4 portfolio-item"
        >
            <div class="portfolio-box">
                <div class="portfolio-image">
                    <img [src]="project.previewImg" [alt]="project.title" />
                    <div class="portfolio-icon">
                        <a
                            href="javascript:void(0)"
                            (click)="openProject(project)"
                        >
                            <i class="bi bi-file-earmark-text"></i>
                        </a>
                        <a
                            [href]="project.url"
                            target="_blank"
                            rel="noreferrer"
                        >
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </div>
                </div>
                <div class="portfolio-content">
                    <h6 class="blog-header">{{ project.title }}</h6>
                    <p class="mb-0">{{ project.category }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
