<section id="testimonial" class="section pp-scrollable testimonial" data-navigation-tooltip="CLIENT">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-wrapper">
                            <span>Client Says</span>
                        </div>
                        <div class="title-content">
                            <h2 class="base-color">Client Says</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel">
                            <!-- Testimonial Item-01 -->
                            <div class="testimonial-item box-border">
                                <div class="testimonial-image">
                                    <div class="testimonial-image-border">
                                        <img src="http://placehold.it/300x300" alt="/">
                                    </div>
                                </div>
                                <p class="mb-0 mt-3 text-muted">" In a professional context it often happens that private or corporate clients corder a publication to be made.In a professional context it often happens that private or corporate clients corder a publication to be made.
                                    "</p>
                                <span class="d-block font-weight-bold text-dark mt-3">John Doe, <small class="text-muted">Seo Management</small></span>
                            </div>
                            <!-- Testimonial Item-02 -->
                            <div class="testimonial-item box-border">
                                <div class="testimonial-image">
                                    <div class="testimonial-image-border">
                                        <img src="http://placehold.it/300x300" alt="/">
                                    </div>
                                </div>
                                <p class="mb-0 mt-3 text-muted">" In a professional context it often happens that private or corporate clients corder a publication to be made.In a professional context it often happens that private or corporate clients corder a publication to be made.
                                    "</p>
                                <span class="d-block font-weight-bold text-dark mt-3">Mary Jane, <small class="text-muted">Marketing Head</small></span>
                            </div>
                            <!-- Testimonial Item-03 -->
                            <div class="testimonial-item box-border">
                                <div class="testimonial-image">
                                    <div class="testimonial-image-border">
                                        <img src="http://placehold.it/300x300" alt="/">
                                    </div>
                                </div>
                                <p class="mb-0 mt-3 text-muted">" In a professional context it often happens that private or corporate clients corder a publication to be made.In a professional context it often happens that private or corporate clients corder a publication to be made.
                                    "</p>
                                <span class="d-block font-weight-bold text-dark mt-3">Jessy Jane, <small class="text-muted">Web Designer</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>