<section id="about" class="section pp-scrollable about" data-navigation-tooltip="ABOUT ME">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-wrapper">
                            <span>About Me</span>
                        </div>
                        <div class="title-content">
                            <h2 class="base-color">About Me</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-border">
                            <img src="http://placehold.it/800x528" alt="/">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="personal-item ">
                            <h3 class="text-dark mt-4 mt-lg-0"><span class="base-color">UI/UX</span> Designer & Web Developer</h3>
                            <div class="row">
                                <div class="col-6 personal-info">
                                    <ul class="list-unstyled pt-4">
                                        <li>
                                            <p>Birthday : <span> 1 April 1990</span></p>
                                        </li>
                                        <li>
                                            <p>Website : <span> www.retrina.com</span></p>
                                        </li>
                                        <li>
                                            <p>Phone : <span> +123 456 7890</span></p>
                                        </li>
                                        <li>
                                            <p>City : <span> New York, USA</span></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6 personal-info">
                                    <ul class="list-unstyled pt-4">
                                        <li>
                                            <p>Age : <span> 30</span></p>
                                        </li>
                                        <li>
                                            <p>Degree : <span> Master</span></p>
                                        </li>
                                        <li>
                                            <p>Mail : <span> sample@retrina.com</span></p>
                                        </li>
                                        <li>
                                            <p>Freelance : <span> Available</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="button-border mt-3 mb-lg-0 mr-4">
                            <a href="javascript:void(0);" class="pill-button">Download Cv</a>
                        </div>
                        <div class="button-border mt-3 mb-lg-0 to-contact">
                            <a href="#contact" class="pill-button">Hire Me</a>
                        </div>
                    </div>
                </div>
                <!-- Count up Start -->
                <div id="count-up" class="count-up text-center box-border">
                    <div class="row">
                        <!-- Item-01 -->
                        <div class="col-6 col-lg-3 my-3 count-item">
                            <div class="count-icon">
                                <img src="http://placehold.it/45x45" alt="">
                            </div>
                            <div class="my-3">
                                <span class="timer count-number" data-from="0" data-to="286" data-speed="5000">0</span>
                            </div>
                            <p class="mb-0">Files Download</p>
                        </div>
                        <!-- Item-02 -->
                        <div class="col-6 col-lg-3 my-3 count-item">
                            <div class="count-icon">
                                <img src="http://placehold.it/45x45" alt="">
                            </div>
                            <div class="my-3">
                                <span class="timer count-number" data-from="0" data-to="6549" data-speed="5000">0</span>
                            </div>
                            <p class="mb-0">Project Done</p>
                        </div>
                        <!-- Item-03 -->
                        <div class="col-6 col-lg-3 my-3 count-item">
                            <div class="count-icon">
                                <img src="http://placehold.it/45x45" alt="">
                            </div>
                            <div class="my-3">
                                <span class="timer count-number" data-from="0" data-to="793" data-speed="5000">0</span>
                            </div>
                            <p class="mb-0">Get Award</p>
                        </div>
                        <!-- Item-04 -->
                        <div class="col-6 col-lg-3 my-3 count-item">
                            <div class="count-icon">
                                <img src="http://placehold.it/45x45" alt="">
                            </div>
                            <div class="my-3">
                                <span class="timer count-number" data-from="0" data-to="286" data-speed="5000">0</span>
                            </div>
                            <p class="mb-0">Happy Client</p>
                        </div>
                    </div>
                </div>
                <!--  Count up End  -->
            </div>
        </div>
    </div>
</section>