<!-- <app-social-box></app-social-box> -->
<app-header></app-header>

<div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>

<!-- <app-hero></app-hero> -->
<!-- <app-about></app-about> -->
<!-- <app-resume></app-resume> -->
<!-- <app-skills></app-skills> -->
<!-- <app-services></app-services> -->
<!-- <app-portfolio></app-portfolio> -->
<!-- <app-blog></app-blog> -->
<!-- <app-contact></app-contact> -->


<a class="color-scheme hide text-white bg-base-color d-inline-block" href="javascript:void(0)"><i class="lni-sun"></i></a>
<a class="color-scheme hide color-scheme-light text-white bg-base-color d-none" href="javascript:void(0)"><i class="lni-night"></i></a>