<section id="services" class="section services py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-content mb-4">
                    <p class="mb-2">get support for the services</p>
                    <h2 class="base-color">My services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Item 01 -->
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni-brush-alt size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Graphic Design</h5>
                        <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                    </div>
                </div>
            </div>
            <!-- Item 02 -->
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni-check-mark-circle size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Bootstrap support</h5>
                        <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                    </div>
                </div>
            </div>
            <!-- Item 03 -->
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni-heart size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Portfolio of works</h5>
                        <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                    </div>
                </div>
            </div>
            <!-- Item 04 -->
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1  d-inline-block services-icon">
                        <i class="lni-mobile size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Responsive Theme</h5>
                        <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                    </div>
                </div>
            </div>
            <!-- Item 05 -->
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni-world size-md base-color mb-0"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Go Beyond Limits</h5>
                        <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                    </div>
                </div>
            </div>
            <!-- Item 06 -->
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni-cup size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Premium Slider</h5>
                        <p class="text-muted mb-0">In a professional context it often happens that private clients corder a publication to be made.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>