<section id="services" class="section services py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-content mb-4">
                    <p class="mb-2">get support for the services</p>
                    <h2 class="base-color">Con qué trabajo</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni-brush-alt size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Design</h5>
                        <p class="text-muted mb-0">Adobe XD</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni lni-bootstrap size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Responsive Theme</h5>
                        <p class="text-muted mb-0">Bootstrap 4.X</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni lni-cloud size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Cloud Platforms</h5>
                        <p class="text-muted mb-0">Firebase</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1  d-inline-block services-icon">
                        <i class="lni-mobile size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-2">Cross Platform Development</h5>
                        <p class="text-muted mb-0">Ionic / Xamarin</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni lni-layers size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-3">Frameworks Web</h5>
                        <p class="text-muted mb-0">Dot NET Core / ASP .NET / Blazor / Angular</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left">
                <div class="services-item box-hover-border">
                    <div class="float-left mt-lg-1 d-inline-block services-icon">
                        <i class="lni lni-cog size-md base-color"></i>
                    </div>
                    <div class="services-content">
                        <h5 class="mb-5">DevOps Services</h5>
                        <p class="text-muted mb-0">Azure DevOps / Git</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>