<section id="resume" class="resume">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center title">
                            <h2 class="text-dark">Mi <span class="base-color">Resumen</span></h2>
                            <p class="text-muted max-width-450 mb-5">Contínuamente me encuentro capacitando con las
                                nuevas tecnologías Web y Mobile tanto para mi empleo como para mi desarrollo personal.
                                Apasionado por la Inteligencia Artificial y la robótica.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="text-dark">
                            <i class="lni-graduation base-color"></i>
                            Educación
                        </h3>
                        <div class="timeline-items box-border">

                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">Técnico Superior en Desarrollo de Software</h6>
                                        <p class="timeline-year">2016 - 2019</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Realicé trabajos de laboratorio utilizando las tecnologías .NET, Android y
                                            Angular, aplicando metodologías de desarrollo ágiles y patrones de diseño.
                                        </p>
                                        <p>Abordé de infraestructura, como Sistemas Operativos y Redes; temas de
                                            Ciencias básicas, como elementos de matemática y ética profesional y temas
                                            Empresariales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 mt-lg-0">
                        <h3 class="text-dark">
                            <i class="lni-pencil base-color"></i>Experiencia
                        </h3>
                        <div class="timeline-items box-border">

                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">Capgemini Argentina</h6>
                                        <p class="timeline-year">2015 - 2017</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>He sido parte del equipo de trabajo de ISBAN - Santander Río. Trabajé en el
                                            análisis de requerimientos, desarrollo y soporte de aplicaciones en
                                            proyectos internos del Banco con C#.NET 4.6 + WPF. Realicé
                                            tareas de Control de Calidad, documentación de Casos de Prueba y Técnica.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">Hasar Sistemas</h6>
                                        <p class="timeline-year">2017 - 2019</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Trabajé en el proyecto de aplicación Ruta40 desarrollado para Android con
                                            Xamarin Forms. En 3 oportunidades viaje a Colombia para la implementación y
                                            soporte de la aplicación on-site junto con el cliente.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-item">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">OSPe - Obra Social de Petroleros </h6>
                                        <p class="timeline-year">2019 - Presente</p>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Actualmente me encuentro en el desarrollo, diseño y mantenimiento del
                                            subdomio web de la obra social OSPe - Trámites Online. Desarrollado con .NET
                                            Framework 4 + Bootstrap 3.x + JQuery en Visual Studio 2019
                                            y servicios API en PHP. Azure DevOps para el control de versiones y gestión
                                            de tareas. Implementé el modelo de trabajo/desarrollo con GitFlow y
                                            SourceTree. También llevo adelante un proyecto Web, implementando
                                            mejoras tales como consumo de servicios por API, creación de paquetes Nuget
                                            y actualización de librerías de clases en .NET 4.0 a 4.x.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-5">

                    <div class="col-lg-6">
                        <div>
                            <h3 class="mb-0">FrontEnd <span class="base-color"> Skills</span></h3>
                        </div>
                        <div id="skills" class="skill-box box-border">
                            <div class="skillbar clearfix" data-percent="100%">
                                <div class="skillbar-title"><span>JavaScript - TypeScript - SASS</span></div>
                                <div class="skillbar-bar fill-skillbar"></div>
                            </div>
                            <div class="skillbar clearfix " data-percent="100%">
                                <div class="skillbar-title"><span>ReactJS - Angular - Tailwind</span></div>
                                <div class="skillbar-bar fill-skillbar"></div>
                            </div>
                            <div class="skillbar clearfix" data-percent="100%">
                                <div class="skillbar-title"><span>Angular</span></div>
                                <div class="skillbar-bar fill-skillbar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <h3 class="mb-0 mt-5 mt-lg-0">BackEnd <span class="base-color"> Skills</span></h3>
                        </div>
                        <div id="skills" class="skill-box box-border">
                            <div class="skillbar clearfix" data-percent="100%">
                                <div class="skillbar-title"><span>Node JS - Next JS</span></div>
                                <div class="skillbar-bar fill-skillbar"></div>
                            </div>
                            <div class="skillbar clearfix " data-percent="100%">
                                <div class="skillbar-title"><span>PostgreSQL</span></div>
                                <div class="skillbar-bar fill-skillbar"></div>
                            </div>
                            <div class="skillbar clearfix" data-percent="100%">
                                <div class="skillbar-title"><span>MongoDB</span></div>
                                <div class="skillbar-bar fill-skillbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
