<section id="hero" class="section hero-06 active" style="height: 100vh;">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="hero-content">
                            <h1 class="mb-3">Soy Neri Espinola</h1>
                            <h4 class="text-capitalize mb-0"><span class="base-color">Soy&nbsp;</span> <span class="element" data-elements="UI Designer.,Web Designer.,Web Developer."></span></h4>
                            <p class="max-width-450 mx-0 my-4">Creo experiencias digitales atractivas y funcionales, desde la estética visual hasta la implementación técnica. Mi enfoque se centra en el usuario, garantizando interfaces intuitivas y sitios web robustos. Domino las herramientas necesarias para un producto final de alta calidad.</p>
                            <!-- <ul class="list-inline hero-social">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/iNeriX" target="_blank" rel="noreferrer">
                                        <img src="assets/img/facebook.svg" alt="facebook soynerin nerin neri espinola">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://twitter.com/soyNerin" target="_blank" rel="noreferrer">
                                        <img src="assets/img/twitter.svg" alt="twitter soynerin nerin neri espinola">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/soynerin" target="_blank" rel="noreferrer">
                                        <img src="assets/img/github.svg" alt="github soynerin nerin neri espinola">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/neri-espinola/" target="_blank" rel="noreferrer">
                                        <img src="assets/img/linkedin.svg" alt="linkedin soynerin nerin neri espinola">
                                    </a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="hero-images">
                            <div class="square">
                                <img src="assets/img/element_square.png" alt="/">
                            </div>
                            <div class="circle"></div>
                            <div class="circle-2"></div>
                            <div class="circle-3"></div>
                            <div class="floating"></div>
                            <div class="rounded-circle">
                                <img src="assets/img/about-perfil.jpg" alt="soynerin nerin neri espinola foto perfil" class="rounded-circle img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
