<img class="extend-icon" src="assets/img/about.jpg" alt="Neri Espinola" />
<div class="hero-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-lg-start">
                <div class="hero-image d-inline-block d-lg-none">
                    <img
                        src="assets/img/about-perfil.jpg"
                        alt="soynerin nerin neri espinola foto perfil"
                        class="rounded-circle img-fluid"
                    />
                </div>
                <div
                    class="hero-content mt-4 mx-auto mx-lg-0 text-lg-left mt-lg-none"
                >
                    <p class="base-color"><span class="element"></span></p>
                    <h2>
                        Hola, Soy
                        <span class="base-color">Neri Espinola</span>
                        Bienvenido a mi Mundo.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero-footer d-block d-lg-none">
    <a
        class="download-cv primary-button mt-3 mb-4 d-lg-none"
        href="assets/documents/EspinolaNeriAgustin.docx"
        download
        >Descargar CV</a
    >
    <div class="social d-lg-none mb-4 d-block">
        <a
            href="https://github.com/soynerin"
            target="_blank"
            rel="noreferrer"
            class="d-inline-block"
        >
            <i class="bi bi-github"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/neri-espinola/"
            target="_blank"
            rel="noreferrer"
            class="d-inline-block mx-4"
        >
            <i class="bi bi-linkedin"></i>
        </a>
        <a
            href="https://www.facebook.com/iNeriX"
            target="_blank"
            rel="noreferrer"
            class="d-inline-block"
        >
            <i class="bi bi-facebook"></i>
        </a>
    </div>
</div>
