<div class="overlay-menu bg-blue py-3 px-4 text-center center-item">
    <!-- Overlay Menu -->
    <div id="scrollspy" class="overlay-menu-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto overlay-nav">
                    <ul class="list-group text-left" id="myMenu">
                        <li data-menuanchor="hero" class="list-group-item"><a href="#hero">Home</a></li>
                        <li data-menuanchor="about" class="list-group-item"><a href="#about">About me</a></li>
                        <li data-menuanchor="services" class="list-group-item"><a href="#services">Services</a></li>
                        <li data-menuanchor="portfolio" class="list-group-item"><a href="#portfolio">Portfolio</a></li>
                        <li data-menuanchor="client" class="list-group-item"><a href="#testimonial">Client</a></li>
                        <li data-menuanchor="blog" class="list-group-item"><a href="#blog">Blog</a></li>
                    </ul>
                    <ul class="list-group contact-info text-left mb-0">
                        <li class="list-group-item"><span>Contact Info :</span></li>
                        <li class="list-group-item"><span><i class="lni-map-marker"></i> NY 10018, USA</span></li>
                        <li class="list-group-item"><span><i class="lni-phone-handset"></i> +1 212-695-1962</span></li>
                        <li class="list-group-item"><span><i class="lni-envelope"></i> sample&#64;retrina.com</span></li>
                        <li class="list-group-item"><span>Follow me :</span></li>
                        <li class="list-group-item">
                            <ul class="list-inline socails">
                                <li class="list-inline-item"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="lni-github-original"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>