<div class="social-box">
    <div class="follow-label">
        <span>Seguime</span>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/iNeriX" target="_blank" rel="noreferrer"><i class="lni lni-facebook-filled"></i></a>
        <a href="https://twitter.com/soyNerin" target="_blank" rel="noreferrer"><i class="lni lni-twitter-filled"></i></a>
        <a href="https://github.com/soynerin" target="_blank" rel="noreferrer"><i class="lni lni-github-original"></i></a>
        <a href="https://www.linkedin.com/in/neri-espinola/" target="_blank" rel="noreferrer"><i class="lni lni-linkedin-original"></i></a>
    </div>
</div>